#dashboard

  = render "sidebar"

  .column#first

    .panel
      %h5 Búsqueda de clientes
      %input#search{type:"text", placeholder: 'Nombre o apellido', autofocus: true} 
      
    .panel.dark
      = render "admins/new_client_form"

    .panel
      .counter 0 resultados.
      .add +
      #results
        %ul#client_list

  
  .column#second

    .panel
      #profile
        %h5
        .edit
        .email 
        .phone
        .cellphone
    
    .panel.dark
      = render "admins/new_pet_form"
    

    .panel
      .counter
      .add +
      #pets


  .column#third

    .panel
      #pet_profile
        %h5
        .breed
        .gender
        .edit 

    .panel.dark
      = render "admins/new_appointment_form"
        
    .panel
      .counter
      .add +
      #appointments
    
