#dashboard

  = render "sidebar"

  .column#first

    .panel
      %h5 Búsqueda de clientes
      %input#search{type:"text", placeholder: 'Nombre o apellido'} 
      
    .panel
      #counter 0 resultados.
      #results
        %ul#client_list
          %li 

  
  .column#second

    .panel
      #details
        %h5
        .email 
        .phone
        .cellphone

    .panel
      #pets


  .column#third

    .panel
      #profile
      #appointments
    
