#slogan
  %h2 Amor del <strong>bueno</strong><br> viene en <strong>cuatro<br> patas</strong>.
  #emergency 
    #cross 
      = image_tag("cross.png");
    %span Emergencias: <strong>809.669.2786</strong>
	
.anchor#nosotros 
#about_us
  %h3 Somos una clínica veterinaria dedicada a ofrecer el <span class="highlight">cuidado</span> y la <span class="highlight">atención</span> de más alta calidad, impulsados por nuestro amor por los animales y por <span class="highlight">tu mascota</span>. 

.anchor#servicios  
#services
  
  %ul#catalog
    %li 
      %h6 Consultas Médicas
      %p Y los medicamentos necesarios para el tratamiento indicado de tu mascota.
    %li 
      %h6 Laboratorio
      %p Con el uso de la tecnología más avanzada para un diagnóstico preciso e inmediato.
    %li 
      %h6 Cirugías
      %p Habilitada con los equipos necesarios para la práctica diaria de diversos procedimientos.
    %li 
      %h6 Hotel
      %p Lorem ipsum
    %li 
      %h6 Adestramiento
      %p Modificación de conductas tanto en perro como en gatos.
    %li 
      %h6 Transporte
      %p Dentro y fuera de la ciudad con aire acondicionado.
    %li 
      %h6 Tienda
      %p Con una gran variedad de alimentos y accesorios.
    %li 
      %h6 Centro de Estética
      %p Lorem ipsum
    %li 
      %h6 Cruce
      %p Lorem ipsum
    
.anchor#sucursales
#locations
  %a#naco{:href => "https://goo.gl/maps/sJehH", :target => "_blank"}
    %img{:src => "#"}
  %a#arroyohondo{:href => "https://goo.gl/maps/GiSJB", :target => "_blank"}
    %img{:src => "#"}    
  
.anchor#contacto
#contact


#copyright
  %span © Copyright 2015 SERVIVET S.A. Todos los Derechos Reservados.
  