%p Hola #{@client.name.split.first},

%p Te queremos recordar que #{@patient.name} tiene cita pautada para el próximo #{l(@appointment.date, format: :default)} por motivo de <strong>#{@appointment.reason}</strong>.

%p Los esperamos, <br>Servican Pet Center