%p #{@client.name},

%p Te queremos recordar que #{@patient.name} tiene cita pautada para el próximo #{@appointment.date} por motivo de <strong>#{@appointment.reason}</strong>.

%p Los esperamos, <br>Servican Pet Center