// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font:  'Merriweather', Times New Roman, serif;
$secondary-font:  'Lato', Arial, sans-serif;
$primary-color: #E74c3c;
$secondary-color:#3498DB;
$third-color:#2c3e50;