// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font:  'Merriweather', Times New Roman, serif;
$secondary-font:  'Lato', Arialn, sans-serif;
$primary-color: #fff;
$secondary-color:#3AA7BD;