// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$primary-font:  'Merriweather', Times New Roman, serif;
$secondary-font:  'Lato', Arial, sans-serif;
$orange: #E74c3c;
$light-blue:#3498DB;
$dark-blue:#2c3e50;