@media screen and (max-width: 1098px) {

	#main_menu {
	 display:none;	
	}
}


@media screen and (max-width: 900px) {

	#description {
		
	font-size: 20px !important;
	}

	#catalog h6 {
		line-height: 55px;
	}

	#catalog p {
		display: none;
	}

	#locations .map a {
		width: 900px;
	}

}


@media screen and (max-width: 767px) {

	#header {
		    background: #fff !important;
	}

	#logo {
		    background-image: url(asset-path('logo.png')) !important;
	}

	#logo_text {
    color: #333 !important;
	}

	#about_us, #description, #catalog, #customers, #contact, #video_container, #locations, #video_overlap, #slogan h2  {
		display:none;
	}

	body {
		background-color:#fff !important;
	}

	#slogan #emergency {
		width:100%;
	}

	#locations .map a {
		width: 767px;
	}

}