@media screen and (max-width: 1098px) {

	#main_menu {
	 display:none;	
	}
}


@media screen and (max-width: 900px) {

	#description {
		
	font-size: 19px !important;
	}

	#catalog h6 {
		    padding-top: 13px !important;
	}

	#catalog p {
		display: none;
	}

	#locations .map a, #locations .map a img {
		width: 900px;
	}

	.thumbnail {
		width:52px !important;
		height:52px !important;
	}

}

@media screen and (max-width: 768px) {

#locations .map a, #locations .map a img{
		width: 768px;
	}
}

@media screen and (max-width: 750px) {

	#header {
		    background: #fff !important;
	}

	#logo {
		    background-image: url(asset-path('logo.png')) !important;
	}

	#logo_text {
    color: #333 !important;
	}

	#about_us, #description, #catalog, #customers, #contact, #video_container, #locations, #video_overlap, #slogan h2  {
		display:none;
	}

	body {
		background-color:#fff !important;
	}

	#slogan #emergency {
		width:100%;
	}

	

}